[package]
name = "naia-client"
version = "0.10.1"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
workspace = ".."
description = "Provides a cross-platform client that can send/receive messages to/from a server, and has a pool of in-scope entities/components that is synced with the server."
documentation = "https://docs.rs/naia-client"
homepage = "https://github.com/naia-rs/naia"
repository = "https://github.com/naia-rs/naia"
readme = "../README.md"
keywords = ["wasm", "webrtc", "udp", "networking", "gamedev"]
categories = ["network-programming", "game-development", "wasm", "web-programming"]
license = "MIT OR Apache-2.0"
edition = "2021"

[badges]
maintenance = { status = "actively-developed" }

[features]
wbindgen = [ "naia-client-socket/wbindgen", "naia-shared/wbindgen" ]
mquad = [ "naia-client-socket/mquad", "naia-shared/mquad" ]
bevy_support = ["naia-shared/bevy_support"]
zstd_support = ["naia-shared/zstd_support"]

[dependencies]
naia-client-socket = { version = "0.11", path = "../socket/client" }
naia-shared = { version = "0.10.3", path = "../shared" }
cfg-if = { version = "1.0" }
log = { version = "0.4" }