[package]
name = "naia-client"
version = "0.4.1"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
description = "Provides a cross-platform client that can send/receive events to/from a server, and has a pool of in-scope actors that is synced with the server."
documentation = "https://docs.rs/naia-client"
homepage = "https://github.com/naia-rs/naia"
repository = "https://github.com/naia-rs/naia"
readme = "../README.md"
keywords = ["wasm", "webrtc", "udp", "networking", "gamedev"]
license = "MIT OR Apache-2.0"
categories = ["network-programming", "game-development", "wasm", "web-programming"]
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[features]
multithread = [ "naia-client-socket/multithread", "naia-shared/multithread" ]
wbindgen = [ "naia-client-socket/wbindgen", "naia-shared/wbindgen" ]
mquad = [ "naia-client-socket/mquad", "naia-shared/mquad" ]

[dependencies]
naia-client-socket = { version = "0.5.1" }
naia-shared = { version = "0.4.1", path = "../shared" }
cfg-if = "0.1.10"
log = "0.4"
byteorder = "1.3"