[package]
name = "naia-hecs-client"
version = "0.7.0"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
description = "Library to faciliate naia_client & Hecs interop"
homepage = "https://github.com/naia-rs/naia"
repository = "https://github.com/naia-rs/naia"
keywords = ["wasm", "webrtc", "udp", "networking", "gamedev"]
license = "MIT OR Apache-2.0"
categories = ["network-programming", "game-development", "wasm", "web-programming"]
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[features]
wbindgen = [ "naia-client/wbindgen", "naia-hecs-shared/wbindgen" ]
mquad = [ "naia-client/mquad", "naia-hecs-shared/mquad" ]

[dependencies]
naia-client = { version = "0.7.0", path = "../../../client" }
naia-hecs-shared = { version = "0.7.0", path = "../shared" }
hecs = { version = "=0.5.2" }