[package]
name = "naia-basic-server-demo"
version = "0.1.0"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
workspace = "../../.."
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[features]
use-udp = [ "naia-server/use-udp" ]
use-webrtc = [ "naia-server/use-webrtc" ]

[dependencies]
naia-server = { path = "../../../server" }
naia-demo-world = { path = "../../demo_utils/demo_world" }
naia-basic-demo-shared = { path = "../shared" }
log = "0.4"
simple_logger = { version = "=2.0.0" }
smol = { version = "1.2.4" }