[package]
name = "naia-bevy-client-demo"
version = "0.1.0"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
workspace = "../../.."
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[features]
default = [
    "bevy/bevy_winit",
    "bevy/render",
]

[dependencies]
naia-bevy-client = { path = "../../../adapters/bevy/client" }
naia-bevy-demo-shared = { path = "../shared" }
winit = { version = "0.26" }
rand = { version = "0.8" }
getrandom = { version="0.2", features=["wasm-bindgen"] }
bevy = { version = "0.7", default-features=false }