/target
**/*.rs.bk
/Cargo.lock
node_modules
/demos/basic/client/miniquad/target
/demos/basic/client/miniquad/target/
/demos/basic/client/miniquad/target/*
/demos/basic/client/wasm_bindgen/target
/demos/basic/client/wasm_bindgen/target/
/demos/basic/client/wasm_bindgen/target/*
/demos/bevy/client/target
/demos/bevy/client/target/
/demos/bevy/client/target/*
/demos/hecs/client/target
/demos/hecs/client/target/
/demos/hecs/client/target/*
/demos/macroquad/client/target
/demos/macroquad/client/target/
/demos/macroquad/client/target/*
/demos/socket/client/miniquad/target
/demos/socket/client/miniquad/target/
/demos/socket/client/miniquad/target/*
/demos/socket/client/wasm_bindgen/target
/demos/socket/client/wasm_bindgen/target/
/demos/socket/client/wasm_bindgen/target/*

# LLM Bridge
llm_io/.env
llm_io/inbox.txt
llm_io/outbox.txt
llm_io/*.log
