version: 2

jobs:
  build:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - run:
          name: Setup Rust
          command: |
            rustup component add rustfmt
      - run:
          name: Version information
          command: |
            rustc --version
            cargo --version
            rustfmt --version
            rustup --version
      - run:
          name: Calculate dependencies
          command: cargo generate-lockfile
      - restore_cache:
          keys:
            - cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - run:
          name: Check formatting
          command: |
            rustfmt --version
            cargo fmt --all -- --check --color=auto
      - run:
          name: Build Server Example (UDP)
          working_directory: ~/project/demo/server
          command: cargo build --target x86_64-unknown-linux-gnu --features "use-udp"
      - run:
          name: Build Server Example (WebRTC)
          working_directory: ~/project/demo/server
          command: cargo build --target x86_64-unknown-linux-gnu --features "use-webrtc"
      - run:
          name: Build Client Example (Linux)
          working_directory: ~/project/demo/client/wasm_bindgen
          command: cargo build --target x86_64-unknown-linux-gnu
      - save_cache:
          paths:
            - /usr/local/cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
          key: cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
