[package]
name = "naia-tickless-client-demo"
version = "0.1.0"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
workspace = "../../.."
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[features]

[dependencies]
naia-client = { path = "../../../client", features = ["wbindgen"] }
naia-tickless-demo-shared = { path = "../shared" }
naia-empty-world = { path = "../../demo_utils/empty_world" }
log = { version = "0.4" }
cfg-if = { version = "1.0" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
simple_logger = { version = "2.1", default-features = false, features = ["timestamps"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-logger = { version = "0.2" }
wasm-bindgen = { version = "0.2", features = [ "serde-serialize" ] }
web-sys = { version = "0.3", features = [ 'Window' ] }