name: Main

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - ".github/dependabot.yml"
env:
  CARGO_TERM_COLOR: always

jobs:

  check-format:
    name: Check Format
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

  server-socket:
    strategy:
      fail-fast: false
      matrix:
        features: [ use-udp, use-webrtc ]
        package:
          [
            naia-server-socket,
          ]
    name: Server Socket
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --package ${{ matrix.package }} --features ${{ matrix.features }} --no-deps -- -D warnings

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package ${{ matrix.package }} --features ${{ matrix.features }}

  servers:
    name: Servers
    strategy:
      fail-fast: false
      matrix:
        package:
          [
            naia-server,
            naia-hecs-server,
            naia-bevy-server,
          ]
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --package ${{ matrix.package }} --features use-udp --no-deps -- -D warnings

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package ${{ matrix.package }} --features use-udp

  clients-and-shared:
    name: Clients And Shared
    strategy:
      fail-fast: false
      matrix:
        features: [ mquad, wbindgen ]
        package:
          [
            naia-client-socket,
            naia-socket-shared,
            naia-client,
            naia-shared,
            naia-hecs-client,
            naia-hecs-shared,
          ]

    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --package ${{ matrix.package }} --features ${{ matrix.features }} --no-deps -- -D warnings

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package ${{ matrix.package }} --features ${{ matrix.features }}

  other:
    name: Other
    strategy:
      fail-fast: false
      matrix:
        package:
          [
            naia-bevy-client,
            naia-bevy-shared,
            naia-serde-derive,
            naia-demo-world,
            naia-empty-world,
            naia-serde,
            naia-test,
            naia-parse,
            naia-derive,
          ]
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --package ${{ matrix.package }} --no-deps -- -D warnings

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package ${{ matrix.package }}

  server-demos:
    name: Server Demos
    strategy:
      fail-fast: false
      matrix:
        package:
          [
            naia-macroquad-server-demo,
            naia-bevy-server-demo,
            naia-basic-server-demo,
            naia-server-socket-demo,
            naia-hecs-server-demo,
          ]
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --package ${{ matrix.package }} --features use-udp --no-deps -- -D warnings

  client-demos:
    name: Client Demos
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-unknown-linux-gnu]
        package:
          [
            naia-macroquad-client-demo,
            naia-basic-client-demo-mq,
            naia-socket-client-demo-mq,
            naia-bevy-client-demo,
            naia-hecs-client-demo,
            naia-basic-client-demo-wb,
            naia-socket-client-demo-wb,
          ]
        include:
          - package: naia-basic-client-demo-wb
            target: wasm32-unknown-unknown
            additional-arguments: --lib
          - package: naia-socket-client-demo-wb
            target: wasm32-unknown-unknown
            additional-arguments: --lib
          - package: naia-basic-client-demo-mq
            target: wasm32-unknown-unknown
          - package: naia-socket-client-demo-mq
            target: wasm32-unknown-unknown

    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Install X11 and OpenGL dependencies
        if: matrix.package == 'naia-macroquad-client-demo' || matrix.package == 'naia-basic-client-demo-mq' || matrix.package == 'naia-socket-client-demo-mq'
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libxi-dev libgl1-mesa-dev

      - name: Install wasm target
        if: matrix.target == 'wasm32-unknown-unknown'
        run: rustup target add wasm32-unknown-unknown

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --package ${{ matrix.package }} --target ${{ matrix.target }} ${{ matrix.additional-arguments }} --no-deps -- -D warnings
